<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>

		<key>CFBundleDisplayName</key>
		<string>Simple Press 2</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>spres</string>
                    <string>spres2</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleTypeName</key>
                <string>Simple Press Presentation</string>
                <key>CFBundleTypeIconFile</key>
                <string>icon.icns</string>
            </dict>
        </array>

        <key>CFBundleName</key>
        <string>Simple Press 2</string>

	    <key>CFBundleGetInfoString</key>
	    <string>v0.8-mac-alpha, Copyright © 2022 Karol Maksymowicz</string>

        <key>CFBundleIdentifier</key>
        <string>dev.loliting.SimplePress</string>
        <key>CFBundleExecutable</key>
        <string>Simple Press 2</string>

        <key>CFBundleVersion</key>
        <string>v0.8-mac-alpha</string>

        <key>LSMinimumSystemVersion</key>
        <string>10.14</string>

        <key>CFBundleIconFile</key>
        <string>icon.icns</string>

        <key>NSPrincipalClass</key>
        <string>NSApplication</string>

        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
</dict>
</plist>